header {
    display: flex;
    padding: 9px 40px 11px 74px;
    justify-content: flex-end;
    align-items: center;
    gap: 572px;
    align-self: stretch;
}

body {

}

nav {
    display: flex;
    align-items: center;
    gap: 94px;
}

nav a {
    display: flex;
    align-items: center;
    gap: 94px;
    color: var(--text, #252B42);
    text-align: center;

    /* Link */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    letter-spacing: 0.2px;
}

nav hover {
    color: #FA8D0C;
}