* {
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    width: 48%;
    float: left;
    margin: 1%;
}

.header {
    background-color: #E4E4E4;
    display: flex;
    padding: 9px 40px 11px 74px;
    justify-content: flex-end;
    align-items: center;
    gap: 572px;
    align-self: stretch;
}

.navbar {
    float: right;
    display: flex;
    align-items: center;
    gap: 94px;
    margin: 0;
    padding: 0;
}

.navbaritem {
    list-style-type: none;
    color: #252B42;
    text-align: center;
    float: right;
    font-family: Arial;
}

.logo {
    width: 154px;   
    height: 136px;
}

.h1 {
    float: left;
}